USE [master]
GO
/****** Object:  Database [OMCS]    Script Date: 10/02/2014 14:02:05 ******/
CREATE DATABASE [OMCS] ON  PRIMARY 
( NAME = N'OMCS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\OMCS.mdf' , SIZE = 3328KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'OMCS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\OMCS_log.LDF' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OMCS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OMCS]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10/02/2014 14:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ProfilePicture] [nvarchar](max) NULL,
	[Gender] [nvarchar](max) NULL,
	[Birthday] [datetime] NULL,
	[Phone] [nvarchar](max) NULL,
	[PrimaryAddress] [nvarchar](max) NULL,
	[SecondaryAddress] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[User] ON
INSERT [dbo].[User] ([UserId], [Email], [Password], [FirstName], [LastName], [IsActive], [CreatedDate], [ProfilePicture], [Gender], [Birthday], [Phone], [PrimaryAddress], [SecondaryAddress]) VALUES (1, N'admin@mail.com', N'123456', N'Admin', NULL, 1, CAST(0x0000A3AA01153EA4 AS DateTime), N'photo.jpg', NULL, CAST(0x0000A3AA01153EA4 AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[User] ([UserId], [Email], [Password], [FirstName], [LastName], [IsActive], [CreatedDate], [ProfilePicture], [Gender], [Birthday], [Phone], [PrimaryAddress], [SecondaryAddress]) VALUES (2, N'doctor@mail.com', N'123456', N'Doctor 1', NULL, 1, CAST(0x0000A3AA01153EEA AS DateTime), N'doctor1.png', NULL, CAST(0x0000A3AA01153EEA AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[User] ([UserId], [Email], [Password], [FirstName], [LastName], [IsActive], [CreatedDate], [ProfilePicture], [Gender], [Birthday], [Phone], [PrimaryAddress], [SecondaryAddress]) VALUES (3, N'vana@gmail.com', N'123456', N'A', N'Nguyễn Văn', 1, CAST(0x0000A3AA01153EEA AS DateTime), N'nguyenvana.png', NULL, CAST(0x0000A3AA01153EEA AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
/****** Object:  Table [dbo].[AllergyType]    Script Date: 10/02/2014 14:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AllergyType](
	[AllergyTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AllergyType] PRIMARY KEY CLUSTERED 
(
	[AllergyTypeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AllergyType] ON
INSERT [dbo].[AllergyType] ([AllergyTypeId], [Name], [Description]) VALUES (1, N'Thuốc', N'Dị ứng với các loại thuốc')
INSERT [dbo].[AllergyType] ([AllergyTypeId], [Name], [Description]) VALUES (2, N'Thức Ăn', NULL)
INSERT [dbo].[AllergyType] ([AllergyTypeId], [Name], [Description]) VALUES (3, N'Môi Trường', NULL)
SET IDENTITY_INSERT [dbo].[AllergyType] OFF
/****** Object:  Table [dbo].[HospitalInformation]    Script Date: 10/02/2014 14:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HospitalInformation](
	[HospitalInformationId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Fax] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Logo] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.HospitalInformation] PRIMARY KEY CLUSTERED 
(
	[HospitalInformationId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HospitalInformation] ON
INSERT [dbo].[HospitalInformation] ([HospitalInformationId], [Name], [Address], [Email], [Fax], [Phone], [Logo]) VALUES (1, N'FPT Hospital', N'Công viên phần mềm Quang Trung', N'contact@fpt.edu.vn', N'08.53453465', N'08.423423434', N'')
SET IDENTITY_INSERT [dbo].[HospitalInformation] OFF
/****** Object:  Table [dbo].[FilmType]    Script Date: 10/02/2014 14:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilmType](
	[FilmTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.FilmType] PRIMARY KEY CLUSTERED 
(
	[FilmTypeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FilmType] ON
INSERT [dbo].[FilmType] ([FilmTypeId], [Name], [Description]) VALUES (1, N'Webcam', NULL)
INSERT [dbo].[FilmType] ([FilmTypeId], [Name], [Description]) VALUES (2, N'X-quang', NULL)
INSERT [dbo].[FilmType] ([FilmTypeId], [Name], [Description]) VALUES (3, N'CT-Scanner', NULL)
SET IDENTITY_INSERT [dbo].[FilmType] OFF
/****** Object:  Table [dbo].[MedicalProfileTemplate]    Script Date: 10/02/2014 14:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalProfileTemplate](
	[MedicalProfileTemplateId] [int] IDENTITY(1,1) NOT NULL,
	[MedicalProfileTemplateName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.MedicalProfileTemplate] PRIMARY KEY CLUSTERED 
(
	[MedicalProfileTemplateId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MedicalProfileTemplate] ON
INSERT [dbo].[MedicalProfileTemplate] ([MedicalProfileTemplateId], [MedicalProfileTemplateName]) VALUES (1, N'Bệnh Án Mẫu')
INSERT [dbo].[MedicalProfileTemplate] ([MedicalProfileTemplateId], [MedicalProfileTemplateName]) VALUES (2, N'Bệnh Án Nội Khoa')
INSERT [dbo].[MedicalProfileTemplate] ([MedicalProfileTemplateId], [MedicalProfileTemplateName]) VALUES (3, N'Bệnh Án Truyền Nhiễm')
SET IDENTITY_INSERT [dbo].[MedicalProfileTemplate] OFF
/****** Object:  Table [dbo].[SpecialtyField]    Script Date: 10/02/2014 14:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecialtyField](
	[SpecialtyFieldId] [int] IDENTITY(1,1) NOT NULL,
	[ParentId] [int] NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.SpecialtyField] PRIMARY KEY CLUSTERED 
(
	[SpecialtyFieldId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_ParentId] ON [dbo].[SpecialtyField] 
(
	[ParentId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SpecialtyField] ON
INSERT [dbo].[SpecialtyField] ([SpecialtyFieldId], [ParentId], [Name]) VALUES (1, NULL, N'Ngoại khoa')
INSERT [dbo].[SpecialtyField] ([SpecialtyFieldId], [ParentId], [Name]) VALUES (2, NULL, N'Nội khoa')
INSERT [dbo].[SpecialtyField] ([SpecialtyFieldId], [ParentId], [Name]) VALUES (3, NULL, N'Nhi Khoa')
SET IDENTITY_INSERT [dbo].[SpecialtyField] OFF
/****** Object:  Table [dbo].[Role]    Script Date: 10/02/2014 14:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Role] ON
INSERT [dbo].[Role] ([RoleId], [RoleName], [Description]) VALUES (1, N'Admin', NULL)
INSERT [dbo].[Role] ([RoleId], [RoleName], [Description]) VALUES (2, N'User', NULL)
INSERT [dbo].[Role] ([RoleId], [RoleName], [Description]) VALUES (3, N'Doctor', NULL)
SET IDENTITY_INSERT [dbo].[Role] OFF
/****** Object:  Table [dbo].[Patient]    Script Date: 10/02/2014 14:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[UserId] [int] NOT NULL,
	[Ethnicity] [nvarchar](max) NULL,
	[Nationality] [nvarchar](max) NULL,
	[Job] [nvarchar](max) NULL,
	[WhereToWork] [nvarchar](max) NULL,
	[ContactPerson] [nvarchar](max) NULL,
	[ContactPersonAddress] [nvarchar](max) NULL,
	[ContactPersonPhone] [nvarchar](max) NULL,
	[HealthInsuranceId] [nvarchar](max) NULL,
	[HealthInsuranceIssued] [datetime] NULL,
	[HealthInsuranceDateExpired] [datetime] NULL,
 CONSTRAINT [PK_dbo.Patient] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Patient] 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
INSERT [dbo].[Patient] ([UserId], [Ethnicity], [Nationality], [Job], [WhereToWork], [ContactPerson], [ContactPersonAddress], [ContactPersonPhone], [HealthInsuranceId], [HealthInsuranceIssued], [HealthInsuranceDateExpired]) VALUES (7, N'Kinh', N'Việt Nam', N'Lập trình viên', N'39B Trường Sơn, Tân Bình', N'Mỹ Linh', N'1 Lý Thường Kiệt', NULL, N'234234VSD', CAST(0x0000A13900000000 AS DateTime), CAST(0x0000A2A600000000 AS DateTime))
INSERT [dbo].[Patient] ([UserId], [Ethnicity], [Nationality], [Job], [WhereToWork], [ContactPerson], [ContactPersonAddress], [ContactPersonPhone], [HealthInsuranceId], [HealthInsuranceIssued], [HealthInsuranceDateExpired]) VALUES (8, N'Kinh', N'Việt Nam', N'Lập trình viên', N'FPT Software', N'Mỹ Linh', N'1 Lý Thường Kiệt', NULL, N'234234VSD', CAST(0x0000A13900000000 AS DateTime), CAST(0x0000A2A600000000 AS DateTime))
INSERT [dbo].[Patient] ([UserId], [Ethnicity], [Nationality], [Job], [WhereToWork], [ContactPerson], [ContactPersonAddress], [ContactPersonPhone], [HealthInsuranceId], [HealthInsuranceIssued], [HealthInsuranceDateExpired]) VALUES (9, N'Kinh', N'Việt Nam', N'Lập trình viên', N'FPT Software', N'Mỹ Linh', N'1 Lý Thường Kiệt', NULL, N'234234VSD', CAST(0x0000A13900000000 AS DateTime), CAST(0x0000A2A600000000 AS DateTime))
/****** Object:  Table [dbo].[Rating]    Script Date: 10/02/2014 14:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rating](
	[RatingId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RatingPoint] [float] NOT NULL,
	[RatingFor] [int] NOT NULL,
	[ObjectId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Rating] PRIMARY KEY CLUSTERED 
(
	[RatingId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Rating] 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctor]    Script Date: 10/02/2014 14:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor](
	[UserId] [int] NOT NULL,
	[SpecialtyFieldId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Doctor] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_SpecialtyFieldId] ON [dbo].[Doctor] 
(
	[SpecialtyFieldId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Doctor] 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
INSERT [dbo].[Doctor] ([UserId], [SpecialtyFieldId]) VALUES (3, 3)
INSERT [dbo].[Doctor] ([UserId], [SpecialtyFieldId]) VALUES (5, 3)
INSERT [dbo].[Doctor] ([UserId], [SpecialtyFieldId]) VALUES (2, 8)
/****** Object:  Table [dbo].[CustomSnippet]    Script Date: 10/02/2014 14:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomSnippet](
	[CustomSnippetId] [int] IDENTITY(1,1) NOT NULL,
	[MedicalProfileTemplateId] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Title] [nvarchar](max) NULL,
	[Position] [int] NOT NULL,
	[ParentId] [int] NOT NULL,
	[PositionInTable] [int] NOT NULL,
	[SnippetType] [int] NOT NULL,
	[SnippetFieldName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.CustomSnippet] PRIMARY KEY CLUSTERED 
(
	[CustomSnippetId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_MedicalProfileTemplateId] ON [dbo].[CustomSnippet] 
(
	[MedicalProfileTemplateId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CustomSnippet] ON
INSERT [dbo].[CustomSnippet] ([CustomSnippetId], [MedicalProfileTemplateId], [Name], [Title], [Position], [ParentId], [PositionInTable], [SnippetType], [SnippetFieldName]) VALUES (1, 1, N'Hành chính', N'Form Name', 1, 0, 0, 0, NULL)
INSERT [dbo].[CustomSnippet] ([CustomSnippetId], [MedicalProfileTemplateId], [Name], [Title], [Position], [ParentId], [PositionInTable], [SnippetType], [SnippetFieldName]) VALUES (2, 1, N'Họ và tên', N'Static Text', 2, 0, 0, 1, N'FullName')
INSERT [dbo].[CustomSnippet] ([CustomSnippetId], [MedicalProfileTemplateId], [Name], [Title], [Position], [ParentId], [PositionInTable], [SnippetType], [SnippetFieldName]) VALUES (3, 1, N'Giới tính', N'Static Text', 3, 0, 0, 1, N'Gender')
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[CustomSnippet] OFF
/****** Object:  Table [dbo].[UserRole]    Script Date: 10/02/2014 14:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UserRole] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[UserRole] 
(
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[UserRole] 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
INSERT [dbo].[UserRole] ([UserId], [RoleId]) VALUES (1, 1)
INSERT [dbo].[UserRole] ([UserId], [RoleId]) VALUES (2, 3)
INSERT [dbo].[UserRole] ([UserId], [RoleId]) VALUES (3, 3)
/****** Object:  Table [dbo].[CustomSnippetField]    Script Date: 10/02/2014 14:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomSnippetField](
	[CustomSnippetFieldId] [int] IDENTITY(1,1) NOT NULL,
	[CustomSnippetId] [int] NOT NULL,
	[FieldId] [nvarchar](max) NULL,
	[FieldName] [nvarchar](max) NULL,
	[Type] [nvarchar](max) NULL,
	[Label] [nvarchar](max) NULL,
	[Value] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.CustomSnippetField] PRIMARY KEY CLUSTERED 
(
	[CustomSnippetFieldId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CustomSnippetId] ON [dbo].[CustomSnippetField] 
(
	[CustomSnippetId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CustomSnippetField] ON
INSERT [dbo].[CustomSnippetField] ([CustomSnippetFieldId], [CustomSnippetId], [FieldId], [FieldName], [Type], [Label], [Value], [Name]) VALUES (1, 1, NULL, N'id', N'input', N'ID / Name', N'1', NULL)
INSERT [dbo].[CustomSnippetField] ([CustomSnippetFieldId], [CustomSnippetId], [FieldId], [FieldName], [Type], [Label], [Value], [Name]) VALUES (2, 1, NULL, N'name', N'input', N'Tên hiển thị', N'Hành chính', N'name')
INSERT [dbo].[CustomSnippetField] ([CustomSnippetFieldId], [CustomSnippetId], [FieldId], [FieldName], [Type], [Label], [Value], [Name]) VALUES (3, 1, NULL, N'mapping', N'input', N'Khu vực', N'', NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
SET IDENTITY_INSERT [dbo].[CustomSnippetField] OFF
/****** Object:  Table [dbo].[Conversation]    Script Date: 10/02/2014 14:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conversation](
	[ConversationId] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[DoctorId] [int] NOT NULL,
	[LatestContentFromPatient] [nvarchar](max) NULL,
	[LatestContentFromDoctor] [nvarchar](max) NULL,
	[LatestTimeFromDoctor] [datetime] NOT NULL,
	[LatestTimeFromPatient] [datetime] NOT NULL,
	[IsDoctorRead] [bit] NOT NULL,
	[IsPatientRead] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Conversation] PRIMARY KEY CLUSTERED 
(
	[ConversationId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_DoctorId] ON [dbo].[Conversation] 
(
	[DoctorId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_PatientId] ON [dbo].[Conversation] 
(
	[PatientId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Conversation] ON
INSERT [dbo].[Conversation] ([ConversationId], [PatientId], [DoctorId], [LatestContentFromPatient], [LatestContentFromDoctor], [LatestTimeFromDoctor], [LatestTimeFromPatient], [IsDoctorRead], [IsPatientRead]) VALUES (1, 7, 2, N'tôi có phải kiêng ăn gì không?', N'Tôi đã thêm chẩn đoán, đơn thuốc và chế độ ăn của chị, hẹn chị tái khám sau 7 ngày hoặc có triệu chứng nặng nề hơn.', CAST(0x0000A3AB000334FD AS DateTime), CAST(0x0000A3AB0002FD05 AS DateTime), 1, 1)
INSERT [dbo].[Conversation] ([ConversationId], [PatientId], [DoctorId], [LatestContentFromPatient], [LatestContentFromDoctor], [LatestTimeFromDoctor], [LatestTimeFromPatient], [IsDoctorRead], [IsPatientRead]) VALUES (2, 8, 4, N'Anh chup canh tay.png', N'Cám ơn bạn nhé!', CAST(0x0000A3B800B78F21 AS DateTime), CAST(0x0000A3B800B78325 AS DateTime), 1, 1)
INSERT [dbo].[Conversation] ([ConversationId], [PatientId], [DoctorId], [LatestContentFromPatient], [LatestContentFromDoctor], [LatestTimeFromDoctor], [LatestTimeFromPatient], [IsDoctorRead], [IsPatientRead]) VALUES (3, 8, 6, N'Chào bác sĩ, tôi muốn tư vấn về dị ứng', NULL, CAST(0x0000A3B800C0B499 AS DateTime), CAST(0x0000A3B800C0B49A AS DateTime), 0, 1)
SET IDENTITY_INSERT [dbo].[Conversation] OFF
/****** Object:  Table [dbo].[Comment]    Script Date: 10/02/2014 14:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[DoctorId] [int] NOT NULL,
	[PatientId] [int] NOT NULL,
	[Content] [nvarchar](max) NULL,
	[PostedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Comment] PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_DoctorId] ON [dbo].[Comment] 
(
	[DoctorId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_PatientId] ON [dbo].[Comment] 
(
	[PatientId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonalHealthRecord]    Script Date: 10/02/2014 14:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonalHealthRecord](
	[PatientId] [int] NOT NULL,
	[Height] [float] NOT NULL,
	[Weight] [float] NOT NULL,
	[EyeColor] [nvarchar](max) NULL,
	[HairColor] [nvarchar](max) NULL,
	[BloodType] [nvarchar](max) NULL,
	[AlcoholPerWeek] [float] NOT NULL,
	[AlcoholNumOfYear] [int] NOT NULL,
	[IsBeer] [bit] NOT NULL,
	[SmokePackPerWeek] [float] NOT NULL,
	[SmokeNumOfYear] [int] NOT NULL,
	[SportName] [nvarchar](max) NULL,
	[SportPerWeek] [int] NOT NULL,
	[ExerciseType] [nvarchar](max) NULL,
	[ExercisePerWeek] [int] NOT NULL,
 CONSTRAINT [PK_dbo.PersonalHealthRecord] PRIMARY KEY CLUSTERED 
(
	[PatientId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_PatientId] ON [dbo].[PersonalHealthRecord] 
(
	[PatientId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
INSERT [dbo].[PersonalHealthRecord] ([PatientId], [Height], [Weight], [EyeColor], [HairColor], [BloodType], [AlcoholPerWeek], [AlcoholNumOfYear], [IsBeer], [SmokePackPerWeek], [SmokeNumOfYear], [SportName], [SportPerWeek], [ExerciseType], [ExercisePerWeek]) VALUES (7, 170, 70.5, N'Đen', N'Đen', N'B', 1.2, 4, 1, 1, 2, N'Đá banh', 4, N'Yoga', 2)
INSERT [dbo].[PersonalHealthRecord] ([PatientId], [Height], [Weight], [EyeColor], [HairColor], [BloodType], [AlcoholPerWeek], [AlcoholNumOfYear], [IsBeer], [SmokePackPerWeek], [SmokeNumOfYear], [SportName], [SportPerWeek], [ExerciseType], [ExercisePerWeek]) VALUES (8, 170, 70.5, N'Đen', N'Đen', N'B', 1.2, 4, 1, 1, 2, N'Đá banh', 4, N'Yoga', 2)
INSERT [dbo].[PersonalHealthRecord] ([PatientId], [Height], [Weight], [EyeColor], [HairColor], [BloodType], [AlcoholPerWeek], [AlcoholNumOfYear], [IsBeer], [SmokePackPerWeek], [SmokeNumOfYear], [SportName], [SportPerWeek], [ExerciseType], [ExercisePerWeek]) VALUES (9, 170, 70.5, N'Đen', N'Đen', N'B', 1.2, 4, 1, 1, 2, N'Đá banh', 4, N'Yoga', 2)
/****** Object:  Table [dbo].[MedicalProfile]    Script Date: 10/02/2014 14:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalProfile](
	[MedicalProfileId] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[DoctorId] [int] NOT NULL,
	[MedicalProfileKey] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[MedicalProfileTemplateId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.MedicalProfile] PRIMARY KEY CLUSTERED 
(
	[MedicalProfileId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_DoctorId] ON [dbo].[MedicalProfile] 
(
	[DoctorId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_MedicalProfileTemplateId] ON [dbo].[MedicalProfile] 
(
	[MedicalProfileTemplateId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_PatientId] ON [dbo].[MedicalProfile] 
(
	[PatientId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MedicalProfile] ON
INSERT [dbo].[MedicalProfile] ([MedicalProfileId], [PatientId], [DoctorId], [MedicalProfileKey], [CreatedDate], [MedicalProfileTemplateId]) VALUES (1, 7, 2, N'OMCS.0000001.01', CAST(0x0000A3AA01153FA1 AS DateTime), 1)
INSERT [dbo].[MedicalProfile] ([MedicalProfileId], [PatientId], [DoctorId], [MedicalProfileKey], [CreatedDate], [MedicalProfileTemplateId]) VALUES (2, 8, 2, N'OMCS.0000002.02', CAST(0x0000A3A000000000 AS DateTime), 2)
INSERT [dbo].[MedicalProfile] ([MedicalProfileId], [PatientId], [DoctorId], [MedicalProfileKey], [CreatedDate], [MedicalProfileTemplateId]) VALUES (3, 8, 2, N'OMCS.0000001.03', CAST(0x0000A3A500000000 AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[MedicalProfile] OFF
/****** Object:  Table [dbo].[Immunization]    Script Date: 10/02/2014 14:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Immunization](
	[ImmunizationId] [int] IDENTITY(1,1) NOT NULL,
	[MedicalProfileId] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[DateImmunized] [datetime] NOT NULL,
	[BoosterTime] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Immunization] PRIMARY KEY CLUSTERED 
(
	[ImmunizationId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_MedicalProfileId] ON [dbo].[Immunization] 
(
	[MedicalProfileId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Immunization] ON
INSERT [dbo].[Immunization] ([ImmunizationId], [MedicalProfileId], [Name], [DateImmunized], [BoosterTime]) VALUES (1, 1, N'Sởi', CAST(0x0000838C00000000 AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Immunization] OFF
/****** Object:  Table [dbo].[ConversationDetail]    Script Date: 10/02/2014 14:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConversationDetail](
	[ConversationDetailId] [int] IDENTITY(1,1) NOT NULL,
	[ConversationId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Content] [nvarchar](max) NULL,
	[Attachment] [nvarchar](max) NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.ConversationDetail] PRIMARY KEY CLUSTERED 
(
	[ConversationDetailId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_ConversationId] ON [dbo].[ConversationDetail] 
(
	[ConversationId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[ConversationDetail] 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ConversationDetail] ON
INSERT [dbo].[ConversationDetail] ([ConversationDetailId], [ConversationId], [UserId], [Content], [Attachment], [IsRead], [CreatedDate]) VALUES (1, 1, 7, N'Chào bác sĩ. Tôi bị sốt 2,3 ngày nay.', NULL, 1, CAST(0x0000A3AB0002341D AS DateTime))
INSERT [dbo].[ConversationDetail] ([ConversationDetailId], [ConversationId], [UserId], [Content], [Attachment], [IsRead], [CreatedDate]) VALUES (2, 1, 2, N'sốt cao không, khoảng bao nhiêu độ?, thường sốt vào thời điểm cụ thể trong ngày hay bất kỳ lúc nào? Có kèm theo triệu chúng gì bất thường nữa không?', NULL, 1, CAST(0x0000A3AB00024DFE AS DateTime))
INSERT [dbo].[ConversationDetail] ([ConversationDetailId], [ConversationId], [UserId], [Content], [Attachment], [IsRead], [CreatedDate]) VALUES (3, 1, 7, N'sốt khoảng 39-40 độ, có lúc sốt buổi sáng, có lúc sốt buổi tối, trong người cảm thấy nhức mỏi mình mẩy, và ớn lạnh.', NULL, 1, CAST(0x0000A3AB00025A1A AS DateTime))
SET IDENTITY_INSERT [dbo].[ConversationDetail] OFF
/****** Object:  Table [dbo].[Allergy]    Script Date: 10/02/2014 14:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Allergy](
	[AllergyId] [int] IDENTITY(1,1) NOT NULL,
	[MedicalProfileId] [int] NOT NULL,
	[AllergyTypeId] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[DateLastOccurred] [datetime] NOT NULL,
	[Reaction] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Allergy] PRIMARY KEY CLUSTERED 
(
	[AllergyId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_AllergyTypeId] ON [dbo].[Allergy] 
(
	[AllergyTypeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_MedicalProfileId] ON [dbo].[Allergy] 
(
	[MedicalProfileId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Allergy] ON
INSERT [dbo].[Allergy] ([AllergyId], [MedicalProfileId], [AllergyTypeId], [Name], [DateLastOccurred], [Reaction], [Note]) VALUES (1, 1, 1, N'Thuốc kháng sinh', CAST(0x0000A13900000000 AS DateTime), N'Đau bụng nhẹ', NULL)
INSERT [dbo].[Allergy] ([AllergyId], [MedicalProfileId], [AllergyTypeId], [Name], [DateLastOccurred], [Reaction], [Note]) VALUES (2, 5, 2, N'Hải sản', CAST(0x0000A3AF00000000 AS DateTime), N'Buồn nôn, chóng mặt', NULL)
SET IDENTITY_INSERT [dbo].[Allergy] OFF
/****** Object:  Table [dbo].[CustomSnippetValue]    Script Date: 10/02/2014 14:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomSnippetValue](
	[CustomSnippetValueId] [int] IDENTITY(1,1) NOT NULL,
	[CustomSnippetId] [int] NOT NULL,
	[MedicalProfileId] [int] NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.CustomSnippetValue] PRIMARY KEY CLUSTERED 
(
	[CustomSnippetValueId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CustomSnippetId] ON [dbo].[CustomSnippetValue] 
(
	[CustomSnippetId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_MedicalProfileId] ON [dbo].[CustomSnippetValue] 
(
	[MedicalProfileId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CustomSnippetValue] ON
INSERT [dbo].[CustomSnippetValue] ([CustomSnippetValueId], [CustomSnippetId], [MedicalProfileId], [Value]) VALUES (209, 7, 1, N'09/06/2014')
INSERT [dbo].[CustomSnippetValue] ([CustomSnippetValueId], [CustomSnippetId], [MedicalProfileId], [Value]) VALUES (210, 9, 1, N'Khó thở ')
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[CustomSnippetValue] OFF
/****** Object:  Table [dbo].[TreatmentHistory]    Script Date: 10/02/2014 14:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TreatmentHistory](
	[TreatmentHistoryId] [int] IDENTITY(1,1) NOT NULL,
	[MedicalProfileId] [int] NULL,
	[PatientId] [int] NULL,
	[ConversationFromId] [int] NULL,
	[ConversationToId] [int] NULL,
	[TreatmentHistoryType] [int] NOT NULL,
	[DoctorId] [int] NULL,
	[Symptom] [nvarchar](max) NULL,
	[Diagnosis] [nvarchar](max) NULL,
	[Treatment] [nvarchar](max) NULL,
	[Condition] [nvarchar](max) NULL,
	[HeartRate] [nvarchar](max) NULL,
	[Temperature] [nvarchar](max) NULL,
	[BloodPressure] [nvarchar](max) NULL,
	[BreathingRate] [nvarchar](max) NULL,
	[DateCreated] [datetime] NOT NULL,
	[OnSetDate] [datetime] NOT NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.TreatmentHistory] PRIMARY KEY CLUSTERED 
(
	[TreatmentHistoryId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_ConversationFromId] ON [dbo].[TreatmentHistory] 
(
	[ConversationFromId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_ConversationToId] ON [dbo].[TreatmentHistory] 
(
	[ConversationToId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_DoctorId] ON [dbo].[TreatmentHistory] 
(
	[DoctorId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_MedicalProfileId] ON [dbo].[TreatmentHistory] 
(
	[MedicalProfileId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_PatientId] ON [dbo].[TreatmentHistory] 
(
	[PatientId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TreatmentHistory] ON
INSERT [dbo].[TreatmentHistory] ([TreatmentHistoryId], [MedicalProfileId], [PatientId], [ConversationFromId], [ConversationToId], [TreatmentHistoryType], [DoctorId], [Symptom], [Diagnosis], [Treatment], [Condition], [HeartRate], [Temperature], [BloodPressure], [BreathingRate], [DateCreated], [OnSetDate], [Note]) VALUES (1, 1, NULL, NULL, NULL, 0, 3, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(0x0000A32000898320 AS DateTime), CAST(0x0000A31E00898320 AS DateTime), N'Bệnh năng')
INSERT [dbo].[TreatmentHistory] ([TreatmentHistoryId], [MedicalProfileId], [PatientId], [ConversationFromId], [ConversationToId], [TreatmentHistoryType], [DoctorId], [Symptom], [Diagnosis], [Treatment], [Condition], [HeartRate], [Temperature], [BloodPressure], [BreathingRate], [DateCreated], [OnSetDate], [Note]) VALUES (2, 1, NULL, NULL, NULL, 0, 3, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(0x0000A33E00898320 AS DateTime), CAST(0x0000A33D00898320 AS DateTime), N'Bệnh tiến triển bình thường')
INSERT [dbo].[TreatmentHistory] ([TreatmentHistoryId], [MedicalProfileId], [PatientId], [ConversationFromId], [ConversationToId], [TreatmentHistoryType], [DoctorId], [Symptom], [Diagnosis], [Treatment], [Condition], [HeartRate], [Temperature], [BloodPressure], [BreathingRate], [DateCreated], [OnSetDate], [Note]) VALUES (4, NULL, 7, 1, 16, 0, 2, N'Sốt nhẹ', N'Sốt', NULL, N'Sốt 39-40 độ, nhức mình, ớn lạnh', NULL, NULL, NULL, NULL, CAST(0x0000A36E00A32383 AS DateTime), CAST(0x0000A36E00A32383 AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[TreatmentHistory] OFF
/****** Object:  Table [dbo].[FilmDocument]    Script Date: 10/02/2014 14:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilmDocument](
	[FilmDocumentId] [int] IDENTITY(1,1) NOT NULL,
	[TreatmentHistoryId] [int] NULL,
	[MedicalProfileId] [int] NULL,
	[DoctorId] [int] NOT NULL,
	[FilmTypeId] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Conclusion] [nvarchar](max) NULL,
	[FilmTypePosition] [int] NOT NULL,
	[ImagePath] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.FilmDocument] PRIMARY KEY CLUSTERED 
(
	[FilmDocumentId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_DoctorId] ON [dbo].[FilmDocument] 
(
	[DoctorId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FilmTypeId] ON [dbo].[FilmDocument] 
(
	[FilmTypeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_MedicalProfileId] ON [dbo].[FilmDocument] 
(
	[MedicalProfileId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_TreatmentHistoryId] ON [dbo].[FilmDocument] 
(
	[TreatmentHistoryId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FilmDocument] ON
INSERT [dbo].[FilmDocument] ([FilmDocumentId], [TreatmentHistoryId], [MedicalProfileId], [DoctorId], [FilmTypeId], [DateCreated], [Description], [Conclusion], [FilmTypePosition], [ImagePath]) VALUES (1, 1, NULL, 3, 1, CAST(0x0000A3AA01889B6F AS DateTime), N'Hình ảnh viêm phổi', N'Viêm phổi tụ cầu', 0, N'viemphoidotucau.gif')
INSERT [dbo].[FilmDocument] ([FilmDocumentId], [TreatmentHistoryId], [MedicalProfileId], [DoctorId], [FilmTypeId], [DateCreated], [Description], [Conclusion], [FilmTypePosition], [ImagePath]) VALUES (2, 1, NULL, 3, 1, CAST(0x0000A3AA01889B6F AS DateTime), N'Bệnh nhân bị amydal', N'Viêm amydal cấp', 0, N'viem_amydal_cap.jpg')
INSERT [dbo].[FilmDocument] ([FilmDocumentId], [TreatmentHistoryId], [MedicalProfileId], [DoctorId], [FilmTypeId], [DateCreated], [Description], [Conclusion], [FilmTypePosition], [ImagePath]) VALUES (3, 5, 5, 4, 1, CAST(0x0000A3B800BB46C7 AS DateTime), N'Ảnh chụp cánh tay', N'Không có dấu hiệu nhiễm trùng', 0, N'635478457111402721_Anh 1.png')
SET IDENTITY_INSERT [dbo].[FilmDocument] OFF
/****** Object:  ForeignKey [FK_dbo.SpecialtyField_dbo.SpecialtyField_ParentId]    Script Date: 10/02/2014 14:02:07 ******/
ALTER TABLE [dbo].[SpecialtyField]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SpecialtyField_dbo.SpecialtyField_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[SpecialtyField] ([SpecialtyFieldId])
GO
ALTER TABLE [dbo].[SpecialtyField] CHECK CONSTRAINT [FK_dbo.SpecialtyField_dbo.SpecialtyField_ParentId]
GO
/****** Object:  ForeignKey [FK_dbo.Patient_dbo.User_UserId]    Script Date: 10/02/2014 14:02:07 ******/
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Patient_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [FK_dbo.Patient_dbo.User_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.Rating_dbo.User_UserId]    Script Date: 10/02/2014 14:02:07 ******/
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Rating_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK_dbo.Rating_dbo.User_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.Doctor_dbo.SpecialtyField_SpecialtyFieldId]    Script Date: 10/02/2014 14:02:07 ******/
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Doctor_dbo.SpecialtyField_SpecialtyFieldId] FOREIGN KEY([SpecialtyFieldId])
REFERENCES [dbo].[SpecialtyField] ([SpecialtyFieldId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Doctor] CHECK CONSTRAINT [FK_dbo.Doctor_dbo.SpecialtyField_SpecialtyFieldId]
GO
/****** Object:  ForeignKey [FK_dbo.Doctor_dbo.User_UserId]    Script Date: 10/02/2014 14:02:07 ******/
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Doctor_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Doctor] CHECK CONSTRAINT [FK_dbo.Doctor_dbo.User_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.CustomSnippet_dbo.MedicalProfileTemplate_MedicalProfileTemplateId]    Script Date: 10/02/2014 14:02:07 ******/
ALTER TABLE [dbo].[CustomSnippet]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CustomSnippet_dbo.MedicalProfileTemplate_MedicalProfileTemplateId] FOREIGN KEY([MedicalProfileTemplateId])
REFERENCES [dbo].[MedicalProfileTemplate] ([MedicalProfileTemplateId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CustomSnippet] CHECK CONSTRAINT [FK_dbo.CustomSnippet_dbo.MedicalProfileTemplate_MedicalProfileTemplateId]
GO
/****** Object:  ForeignKey [FK_dbo.UserRole_dbo.Role_RoleId]    Script Date: 10/02/2014 14:02:07 ******/
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRole_dbo.Role_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_dbo.UserRole_dbo.Role_RoleId]
GO
/****** Object:  ForeignKey [FK_dbo.UserRole_dbo.User_UserId]    Script Date: 10/02/2014 14:02:07 ******/
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRole_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_dbo.UserRole_dbo.User_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.CustomSnippetField_dbo.CustomSnippet_CustomSnippetId]    Script Date: 10/02/2014 14:02:07 ******/
ALTER TABLE [dbo].[CustomSnippetField]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CustomSnippetField_dbo.CustomSnippet_CustomSnippetId] FOREIGN KEY([CustomSnippetId])
REFERENCES [dbo].[CustomSnippet] ([CustomSnippetId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CustomSnippetField] CHECK CONSTRAINT [FK_dbo.CustomSnippetField_dbo.CustomSnippet_CustomSnippetId]
GO
/****** Object:  ForeignKey [FK_dbo.Conversation_dbo.Doctor_DoctorId]    Script Date: 10/02/2014 14:02:07 ******/
ALTER TABLE [dbo].[Conversation]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Conversation_dbo.Doctor_DoctorId] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctor] ([UserId])
GO
ALTER TABLE [dbo].[Conversation] CHECK CONSTRAINT [FK_dbo.Conversation_dbo.Doctor_DoctorId]
GO
/****** Object:  ForeignKey [FK_dbo.Conversation_dbo.Patient_PatientId]    Script Date: 10/02/2014 14:02:07 ******/
ALTER TABLE [dbo].[Conversation]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Conversation_dbo.Patient_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patient] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Conversation] CHECK CONSTRAINT [FK_dbo.Conversation_dbo.Patient_PatientId]
GO
/****** Object:  ForeignKey [FK_dbo.Comment_dbo.Doctor_DoctorId]    Script Date: 10/02/2014 14:02:07 ******/
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comment_dbo.Doctor_DoctorId] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctor] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_dbo.Comment_dbo.Doctor_DoctorId]
GO
/****** Object:  ForeignKey [FK_dbo.Comment_dbo.Patient_PatientId]    Script Date: 10/02/2014 14:02:07 ******/
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comment_dbo.Patient_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patient] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_dbo.Comment_dbo.Patient_PatientId]
GO
/****** Object:  ForeignKey [FK_dbo.PersonalHealthRecord_dbo.Patient_PatientId]    Script Date: 10/02/2014 14:02:07 ******/
ALTER TABLE [dbo].[PersonalHealthRecord]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PersonalHealthRecord_dbo.Patient_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patient] ([UserId])
GO
ALTER TABLE [dbo].[PersonalHealthRecord] CHECK CONSTRAINT [FK_dbo.PersonalHealthRecord_dbo.Patient_PatientId]
GO
/****** Object:  ForeignKey [FK_dbo.MedicalProfile_dbo.Doctor_DoctorId]    Script Date: 10/02/2014 14:02:07 ******/
ALTER TABLE [dbo].[MedicalProfile]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MedicalProfile_dbo.Doctor_DoctorId] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctor] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MedicalProfile] CHECK CONSTRAINT [FK_dbo.MedicalProfile_dbo.Doctor_DoctorId]
GO
/****** Object:  ForeignKey [FK_dbo.MedicalProfile_dbo.MedicalProfileTemplate_MedicalProfileTemplateId]    Script Date: 10/02/2014 14:02:07 ******/
ALTER TABLE [dbo].[MedicalProfile]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MedicalProfile_dbo.MedicalProfileTemplate_MedicalProfileTemplateId] FOREIGN KEY([MedicalProfileTemplateId])
REFERENCES [dbo].[MedicalProfileTemplate] ([MedicalProfileTemplateId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MedicalProfile] CHECK CONSTRAINT [FK_dbo.MedicalProfile_dbo.MedicalProfileTemplate_MedicalProfileTemplateId]
GO
/****** Object:  ForeignKey [FK_dbo.MedicalProfile_dbo.Patient_PatientId]    Script Date: 10/02/2014 14:02:07 ******/
ALTER TABLE [dbo].[MedicalProfile]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MedicalProfile_dbo.Patient_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patient] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MedicalProfile] CHECK CONSTRAINT [FK_dbo.MedicalProfile_dbo.Patient_PatientId]
GO
/****** Object:  ForeignKey [FK_dbo.Immunization_dbo.MedicalProfile_MedicalProfileId]    Script Date: 10/02/2014 14:02:07 ******/
ALTER TABLE [dbo].[Immunization]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Immunization_dbo.MedicalProfile_MedicalProfileId] FOREIGN KEY([MedicalProfileId])
REFERENCES [dbo].[MedicalProfile] ([MedicalProfileId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Immunization] CHECK CONSTRAINT [FK_dbo.Immunization_dbo.MedicalProfile_MedicalProfileId]
GO
/****** Object:  ForeignKey [FK_dbo.ConversationDetail_dbo.Conversation_ConversationId]    Script Date: 10/02/2014 14:02:07 ******/
ALTER TABLE [dbo].[ConversationDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ConversationDetail_dbo.Conversation_ConversationId] FOREIGN KEY([ConversationId])
REFERENCES [dbo].[Conversation] ([ConversationId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ConversationDetail] CHECK CONSTRAINT [FK_dbo.ConversationDetail_dbo.Conversation_ConversationId]
GO
/****** Object:  ForeignKey [FK_dbo.ConversationDetail_dbo.User_UserId]    Script Date: 10/02/2014 14:02:07 ******/
ALTER TABLE [dbo].[ConversationDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ConversationDetail_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ConversationDetail] CHECK CONSTRAINT [FK_dbo.ConversationDetail_dbo.User_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.Allergy_dbo.AllergyType_AllergyTypeId]    Script Date: 10/02/2014 14:02:07 ******/
ALTER TABLE [dbo].[Allergy]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Allergy_dbo.AllergyType_AllergyTypeId] FOREIGN KEY([AllergyTypeId])
REFERENCES [dbo].[AllergyType] ([AllergyTypeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Allergy] CHECK CONSTRAINT [FK_dbo.Allergy_dbo.AllergyType_AllergyTypeId]
GO
/****** Object:  ForeignKey [FK_dbo.Allergy_dbo.MedicalProfile_MedicalProfileId]    Script Date: 10/02/2014 14:02:07 ******/
ALTER TABLE [dbo].[Allergy]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Allergy_dbo.MedicalProfile_MedicalProfileId] FOREIGN KEY([MedicalProfileId])
REFERENCES [dbo].[MedicalProfile] ([MedicalProfileId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Allergy] CHECK CONSTRAINT [FK_dbo.Allergy_dbo.MedicalProfile_MedicalProfileId]
GO
/****** Object:  ForeignKey [FK_dbo.CustomSnippetValue_dbo.CustomSnippet_CustomSnippetId]    Script Date: 10/02/2014 14:02:07 ******/
ALTER TABLE [dbo].[CustomSnippetValue]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CustomSnippetValue_dbo.CustomSnippet_CustomSnippetId] FOREIGN KEY([CustomSnippetId])
REFERENCES [dbo].[CustomSnippet] ([CustomSnippetId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CustomSnippetValue] CHECK CONSTRAINT [FK_dbo.CustomSnippetValue_dbo.CustomSnippet_CustomSnippetId]
GO
/****** Object:  ForeignKey [FK_dbo.CustomSnippetValue_dbo.MedicalProfile_MedicalProfileId]    Script Date: 10/02/2014 14:02:07 ******/
ALTER TABLE [dbo].[CustomSnippetValue]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CustomSnippetValue_dbo.MedicalProfile_MedicalProfileId] FOREIGN KEY([MedicalProfileId])
REFERENCES [dbo].[MedicalProfile] ([MedicalProfileId])
GO
ALTER TABLE [dbo].[CustomSnippetValue] CHECK CONSTRAINT [FK_dbo.CustomSnippetValue_dbo.MedicalProfile_MedicalProfileId]
GO
/****** Object:  ForeignKey [FK_dbo.TreatmentHistory_dbo.ConversationDetail_ConversationFromId]    Script Date: 10/02/2014 14:02:07 ******/
ALTER TABLE [dbo].[TreatmentHistory]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TreatmentHistory_dbo.ConversationDetail_ConversationFromId] FOREIGN KEY([ConversationFromId])
REFERENCES [dbo].[ConversationDetail] ([ConversationDetailId])
GO
ALTER TABLE [dbo].[TreatmentHistory] CHECK CONSTRAINT [FK_dbo.TreatmentHistory_dbo.ConversationDetail_ConversationFromId]
GO
/****** Object:  ForeignKey [FK_dbo.TreatmentHistory_dbo.ConversationDetail_ConversationToId]    Script Date: 10/02/2014 14:02:07 ******/
ALTER TABLE [dbo].[TreatmentHistory]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TreatmentHistory_dbo.ConversationDetail_ConversationToId] FOREIGN KEY([ConversationToId])
REFERENCES [dbo].[ConversationDetail] ([ConversationDetailId])
GO
ALTER TABLE [dbo].[TreatmentHistory] CHECK CONSTRAINT [FK_dbo.TreatmentHistory_dbo.ConversationDetail_ConversationToId]
GO
/****** Object:  ForeignKey [FK_dbo.TreatmentHistory_dbo.Doctor_DoctorId]    Script Date: 10/02/2014 14:02:07 ******/
ALTER TABLE [dbo].[TreatmentHistory]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TreatmentHistory_dbo.Doctor_DoctorId] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctor] ([UserId])
GO
ALTER TABLE [dbo].[TreatmentHistory] CHECK CONSTRAINT [FK_dbo.TreatmentHistory_dbo.Doctor_DoctorId]
GO
/****** Object:  ForeignKey [FK_dbo.TreatmentHistory_dbo.MedicalProfile_MedicalProfileId]    Script Date: 10/02/2014 14:02:07 ******/
ALTER TABLE [dbo].[TreatmentHistory]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TreatmentHistory_dbo.MedicalProfile_MedicalProfileId] FOREIGN KEY([MedicalProfileId])
REFERENCES [dbo].[MedicalProfile] ([MedicalProfileId])
GO
ALTER TABLE [dbo].[TreatmentHistory] CHECK CONSTRAINT [FK_dbo.TreatmentHistory_dbo.MedicalProfile_MedicalProfileId]
GO
/****** Object:  ForeignKey [FK_dbo.TreatmentHistory_dbo.Patient_PatientId]    Script Date: 10/02/2014 14:02:07 ******/
ALTER TABLE [dbo].[TreatmentHistory]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TreatmentHistory_dbo.Patient_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patient] ([UserId])
GO
ALTER TABLE [dbo].[TreatmentHistory] CHECK CONSTRAINT [FK_dbo.TreatmentHistory_dbo.Patient_PatientId]
GO
/****** Object:  ForeignKey [FK_dbo.FilmDocument_dbo.Doctor_DoctorId]    Script Date: 10/02/2014 14:02:07 ******/
ALTER TABLE [dbo].[FilmDocument]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FilmDocument_dbo.Doctor_DoctorId] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctor] ([UserId])
GO
ALTER TABLE [dbo].[FilmDocument] CHECK CONSTRAINT [FK_dbo.FilmDocument_dbo.Doctor_DoctorId]
GO
/****** Object:  ForeignKey [FK_dbo.FilmDocument_dbo.FilmType_FilmTypeId]    Script Date: 10/02/2014 14:02:07 ******/
ALTER TABLE [dbo].[FilmDocument]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FilmDocument_dbo.FilmType_FilmTypeId] FOREIGN KEY([FilmTypeId])
REFERENCES [dbo].[FilmType] ([FilmTypeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FilmDocument] CHECK CONSTRAINT [FK_dbo.FilmDocument_dbo.FilmType_FilmTypeId]
GO
/****** Object:  ForeignKey [FK_dbo.FilmDocument_dbo.MedicalProfile_MedicalProfileId]    Script Date: 10/02/2014 14:02:07 ******/
ALTER TABLE [dbo].[FilmDocument]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FilmDocument_dbo.MedicalProfile_MedicalProfileId] FOREIGN KEY([MedicalProfileId])
REFERENCES [dbo].[MedicalProfile] ([MedicalProfileId])
GO
ALTER TABLE [dbo].[FilmDocument] CHECK CONSTRAINT [FK_dbo.FilmDocument_dbo.MedicalProfile_MedicalProfileId]
GO
/****** Object:  ForeignKey [FK_dbo.FilmDocument_dbo.TreatmentHistory_TreatmentHistoryId]    Script Date: 10/02/2014 14:02:07 ******/
ALTER TABLE [dbo].[FilmDocument]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FilmDocument_dbo.TreatmentHistory_TreatmentHistoryId] FOREIGN KEY([TreatmentHistoryId])
REFERENCES [dbo].[TreatmentHistory] ([TreatmentHistoryId])
GO
ALTER TABLE [dbo].[FilmDocument] CHECK CONSTRAINT [FK_dbo.FilmDocument_dbo.TreatmentHistory_TreatmentHistoryId]
GO
