@{
    Layout = null;
}

<div class="rating-doctor">
    @using (Html.BeginForm("Rate", "Comment", FormMethod.Post))
    {
        <input id="input-2" class="rating" data-min="0" data-max="5" data-step="0.1">
        <input type="hidden" name="Rating" id="Rating" />
        <input type="hidden" name="DoctorId" id="DoctorId" value="2" />
        <input type="submit" value="Đánh Giá" class="btn btn-primary" />
    }
</div>

<script>
    $("#input-2").on("rating.change", function (event, value, caption) {
        $("#Rating").attr("value", value);
    });
</script>
