@model IEnumerable<OMCS.DAL.Model.Comment>

@{
    ViewBag.Title = "Evaluate";
    Layout = null;
}

<style>
    .rating-doctor {
        float: right;
        margin-top: -66px;
    }
    .caption {
        width: 125px;
    }
</style>

<fieldset>
    <legend>Thông tin bác sĩ</legend>
</fieldset>

<div class="rating-doctor">
    <input class="rating" data-min="0" data-max="5" data-size="sm" value="@ViewBag.RatingPoint">
</div>

@{Html.RenderAction("Details", "Comment", new { id = ViewBag.DoctorId });}

<fieldset>
    <legend>Bình luận</legend>
</fieldset>

<div class="row">
    <div class="col-md-1">
        <img src="~/Content/ProfilePicture/@ViewBag.User.ProfilePicture" class="img-circle img-responsive" style="max-height: 66px; margin-left: 12px; padding-top: 7px;"/>
    </div>

    <div class="col-md-10">
        <div class="form-group">
            <textarea id="txtComment" class="form-control"></textarea>
        </div>
    </div>
        
    <div class="col-md-1">
        <input type="submit" id="btnPostComment" value="Gửi" class="btn btn-primary" />
    </div>

</div>

@{Html.RenderAction("Index", "Comment", new { id = ViewBag.DoctorId });}