
@using (Ajax.BeginForm("ForgotPassword", "Account", FormMethod.Post,
                                new AjaxOptions { HttpMethod = "POST", },
                                new { id = "forgot-form", @class = "modal-dialog" }))
{
    
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Đăng Ký</h4>
            </div>



            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
            <div class="modal-body">

                <div class="form-group">
                    @Html.TextBox("Email","",new { @class = "form-control required email", placeholder = "Địa chỉ Email" })
                </div>

            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Làm Mới Mật Khẩu</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Bỏ Qua</button>
            </div>
        </div>
}

<script type="text/javascript">
    $(function () {
        $("#forgot-form").validate({
            rules: {
                Email: {
                    remote: {
                        url: "@Url.Action("CheckExistEmail", "Account")",
                        timeout: 5000,
                        type: "POST"
                    },
                    maxlength: 50
                }
            },
            messages: {
                Email: {
                    remote: "Địa chỉ email không tồn tại"
                }
            }
        });
    });
</script>
