<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="<%= id %>">
      <%= label %>
      <% if(required) {%> <span style="color:red;padding-left: 5px;">*</span> <% } %> 
  </label>
  <div class="<%= inputsize %>">
      <div class='input-group date' data-date-format="dd-mm-yyyy">
            <input type='text' class="form-control datepicker" readonly=""/>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
            </span>
      </div>
  </div>
</div>