<!-- Multiple Checkboxes -->
<div class="form-group">
  <label class="col-md-4 control-label" for="<%= name %>"><%= label %></label>
  <div class="col-md-8">
      <% _.each(checkboxes, function(checkbox, i){ %>
        <div class="checkbox">
            <label for="<%= id+'-'+i %>">
              <input type="checkbox" name="<%= id %>" id="<%= id+'-'+i %>" value="<%= checkbox %>"<% if(required){ %> required="required"<% } %>>
              <%= checkbox %>
            </label>
        </div>
      <% }); %>
  </div>
</div>
