@model OMCS.DAL.Model.User

@using Recaptcha.Web.Mvc

@{
    Layout = null;
}

@Scripts.Render("~/bundles/jsOMCS")
<script src="~/Scripts/jquery.easing.1.3.js"></script>

@Styles.Render("~/bundles/cssOMCS")

<!-- Custom theme css-->
<style>
    body
    {
        background: url('/Content/Image/error-bg.jpg') fixed;
        background-size: cover;
    }
    .posted-by
    {
        width: 177px;
        margin: 26px auto;
        color: #FFF;
        background-color: rgba(0, 0, 0, 0.66);
        padding: 10px;
        left: 43%;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 ">
            <h2>Cos loi xay ra</h2>
        </div>
    </div>

    <div class="posted-by">Group 2 - FPT University</div>
</div>