<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="<%= id %>">
      <%= label %>
      <% if(required) {%> <span style="color:red;padding-left: 5px;">*</span> <% } %> 
  </label>
  <div class="<%= inputsize %>">
    <input id="<%= id %>" name="<%= id %>" type="text" placeholder="<%= placeholder %>" class="form-control" <% if(required) {%> required <% } %> value="<% if (value==null) {%><%= defaultvalue %><% } else { %><%= value %> <% } %>"/>
  </div>
</div>
