/*
    This css is apply for User (Patient) Page
*/
body {
    background: url(Image/Background-user.jpg);
}
.nav-row {
	text-align: center;
}
.nav-row p {
	padding: 5px;
}
.nav-row .col-md-2 {
	background-color: #fff;
	border: 1px solid #e0e1db;
	border-right: none;
}
.nav-row .col-md-2 a {
	text-decoration: none;
    color: #000;
}
.nav-row .col-md-2:last-child {
	border: 1px solid #e0e1db;
}
.nav-row .col-md-2:first-child {
	border-radius: 5px 0 0 5px;
}
.nav-row .col-md-2:last-child {
	border-radius: 0 5px 5px 0;
}
.nav-row .col-md-2:hover {
	color: #e92d00;
    cursor: pointer;
}
.nav-row .col-md-2 a:hover {
	color: #e92d00;
    cursor: pointer;
}
.nav-row .active {
	color: #e92d00;
	margin-top: -6px;
	border-top: 6px solid #e92d00;
	border-bottom: 6px solid #e92d00;
}
.nav-row .active a {
	color: #e92d00;
}
.nav-row .active:before {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 6px 6px 0;
	border-color: #e92d00 transparent;
	display: block;
	width: 0;
	z-index: 1;
	margin-left: -6px;
	top: 0;
	left: 50%;
}
.nav-row .glyphicon {
	padding-top: 15px;
	font-size: 40px;
}

.body-content {
    background-color: #fff;
    border: 1px solid #e0e1db;
    margin-top: 50px;
    border-radius: 5px 0 0 5px;
    border-width: 6px 0 0 0;
    border-color: #e92d00 transparent;
}

/* Css for chatbox */
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}

.chat .chat-img img {
    max-width: 50px;
    max-height: 50px;
}

.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}