<% if (isChild && (label.trim().length == 0)) { %>
  <% 
      var valueArray = [];
      if (value)
          valueArray = value.split("~~") 
  %>
  <div><% _.each(checkboxes, function(checkbox, i){ %>
    <label class="form-control-static checkbox-inline">
      <input type="checkbox" disabled="disabled" value="<%= checkbox %>" <% if (valueArray.indexOf(checkbox) > -1) { %> checked <% } %>>
      <%= checkbox %>
    </label><% }); %>
  </div>
<% } else { %>
<!-- Multiple Checkboxes (inline) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="<%= name %>"><%= label %></label>
    <% 
        var valueArray = [];
        if (value)
            valueArray = value.split("~~") 
    %>
  <div class="col-md-8"><% _.each(checkboxes, function(checkbox, i){ %>
    <label class="checkbox-inline" for="<%= id+'-'+i %>">
      <input type="checkbox" disabled="disabled" name="<%= id %>" id="<%= id+'-'+i %>" value="<%= checkbox %>" <% if (valueArray.indexOf(checkbox) > -1) { %> checked <% } %>>
      <%= checkbox %>
    </label><% }); %>
  </div>
</div>
<% } %>