@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@model IEnumerable<OMCS.DAL.Model.MedicalProfile>

<fieldset>
    <legend>Medical Profile</legend>
</fieldset>

<table class="table table-data table-bordered table-striped" style="clear: both">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="width: auto;">@item.MedicalProfileTemplate.MedicalProfileTemplateName</td>
                <td style="width: auto;">@item.CreatedDate</td>
                <td>
                    <a class="btn btn-primary" href="@Url.Action("Details", "UserMedicalProfile", new {medicalProfileId= item.MedicalProfileId})" target="_blank">Xem chi tiết</a>
                </td>
            </tr>
        }
    </tbody>
</table>

