<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="<%= id %>"><%= label %></label>
  <div class="col-md-8">
      <div class='input-group date' data-date-format="dd-mm-yyyy">
            <input id="<%= id %>" name="<%= id %>" type='text' class="form-control datepicker" size="16" readonly="" <% if(required) {%> required <% } %> value="<%= value %>"/>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
            </span>
      </div>
  </div>
</div>