@model OMCS.DAL.Model.ConversationDetail

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Chi Tiết</h4>
        </div>

        <div class="modal-body">
            <div class="display-field">
                <table class="table table-data table-bordered table-striped" style="clear: both">
    <tbody>
        <tr class="info">
            <td style="width: auto;">Nội dung</td>
            <td style="width: auto;">Ngày tư vấn</td>           
        </tr>
       @* @foreach (var a in ViewBag.Allergy)
        {
            *@<tr>
                <td style="width: auto;">@Html.Raw(Model.Content)</td>
                <td style="width: auto;">@Html.Raw(Model.CreatedDate)</td>                
            </tr>
        @*}*@
    </tbody>
</table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Xem Thêm</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Quay Lại</button>
        </div>
    </div>
</div>

