@model OMCS.DAL.Model.ConversationDetail

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Details";
}

<h2>Chi Tiết</h2>

<fieldset>
    <legend>Cuộc Đối Thoại</legend>

    <div class="display-field">
        @Html.Raw(Model.Content)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ConversationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
